.fullscreen {
    width: 100vw;
    height: 100dvh;
    box-sizing: border-box;
    overflow: hidden;
    background-image: linear-gradient(rgba(235, 235, 235, 0.068) 1.5px, transparent 1.5px), linear-gradient(to right, rgba(235, 235, 235, 0.103) 1.5px, transparent 1.5px);
    background-size: 10px 10px;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    position: relative;
}
html {font-size: 14px;}
.inner-box {
    width: 90%;
    margin: auto;
    height: 100%;
    box-sizing: border-box;
    max-height: 760px;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.box1 {
    width: 100%;
    box-sizing: border-box;
    padding: 13px 5px;
    min-height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.box1>span{
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    font-display: swap;
    font-family: 'Trebuchet MS';
    text-shadow: 0px 0px 10px white;
}
.box1>button{
    font-size: 0.85rem;
    font-weight: 700;
    padding: 0.4em 1em;
    letter-spacing: 0px;
    text-shadow: 0px 0px 10px white;
    color: rgba(255, 255, 255, 0.945);
    background-color: rgba(255, 255, 255, 0.212);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.068);
    box-shadow: 5px 4px 15px -7px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 8px;
    font-display: swap;
    font-family: 'Trebuchet MS';
    animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.2s both;

}
.box2{
    width: 100%;
    min-height: 70%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: clamp(3.75rem, -7.2592rem + 55.0459vw, 7.5rem);
}
.rounds{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}
.rounds>svg{cursor: pointer;position: absolute;left: 5px;transition: all 0.5s ease 0s;}
.rounds>svg:hover{transform: scale(1.1);filter: drop-shadow(0px 0px 10px white);}
.round-box{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 13px;
    position: absolute;
}
.round-box>div{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.027);
    border: transparent;
    border-radius: 5px;
    padding: 3px 5px;
}
.round-box>div>img,.round-box>div>svg{animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;}
.rulesbox{
    background-color: rgb(34, 34, 34);
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: transparent;
    border-radius: 10px;
    top: 5px;
    z-index: 3;
    transition: all 0.7s ease 0s;
    box-shadow: 3px 3px 10px -3px rgba(34, 34, 34, 0.438);
}
.rulesbox.r-show{right: 0;}
.rulesbox.r-hide{right: -100vw;}
.rulesbox>h1{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    font-display: swap;
    font-family: 'Trebuchet MS';
    text-shadow: 0px 0px 10px white;
    margin-bottom: 20px;
}
.rule-r{filter: drop-shadow(2px 2px 5px rgb(0, 247, 0));}
.rule-h{filter: drop-shadow(2px 2px 5px rgb(216, 0, 187));}
.rule-s{filter: drop-shadow(2px 2px 5px rgb(0, 217, 255));}
.rulesbox>div:nth-child(2)>img:nth-child(3){transform: rotateY(180deg);}
.rulesbox>div{
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rulesbox>div>span{
color: white;
font-size: 1.3rem;
font-family: Impact;
font-display: swap;
letter-spacing: 2px;
text-shadow: 0px 0px 9px white;
}
.home-conf{
    width: 100%;
    background-color: rgb(34, 34, 34);
    position: absolute;
    z-index: 3;
    padding: 15px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 17px;
    transition: all 0.7s ease 0s;
}
.home-conf.home-conf-show{opacity: 1;bottom: 35%;}
.home-conf.home-conf-hide{opacity: 0;bottom: 0;}
.home-conf>h1{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    font-family: 'Trebuchet MS';
    text-shadow: 0px 0px 10px white;
    animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.home-conf>p{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    font-family: 'Trebuchet MS';
}
.home-conf>div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    box-sizing: border-box;
    padding: 0px 2px;
    align-items: center;
}
.home-conf>div>button{
    font-size: 0.85rem;
    font-weight: 700;
    padding: 0.4em 1em;
    letter-spacing: 0px;
    text-shadow: 0px 0px 10px white;
    color: rgba(255, 255, 255, 0.945);
    background-color: rgba(255, 99, 99, 0.5);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.068);
    box-shadow: 5px 4px 15px -7px rgba(255, 99, 99, 0.5);
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Trebuchet MS';
}
.home-conf>div>button:nth-child(2){background-color: rgba(255, 255, 255, 0.212);box-shadow: 5px 4px 15px -7px rgba(255, 255, 255, 0.5);}
.compare{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 10px;
    margin-bottom: 40px;
}
.compare>div:nth-child(1),.compare>div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 2;
    animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.compare>div:nth-child(1)>span,.compare>div:nth-child(2)>span{
    font-size: 1.2rem;
    font-family: 'Trebuchet MS';
    font-display: swap;
    font-weight: 650;
    color: white;
    text-shadow: 0px 0px 2px white;
    text-transform: capitalize;
}
.user-img{animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s both;}
.circle {
    width: 30vw;
    height: 30vw;
    border: transparent;
    border-radius: 50%;
    max-width: 130px;
    max-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(61, 61, 61, 0.233);
}
.circle>img{width: 13vw;  max-width: 60px;}
.crown-svg{
    position: absolute;
    z-index: -2;
    top: -50px;
    transition: all 0.4s ease 0s;
}
.crown-svg.show-crown{opacity: 1;transform: scale(1);}
.crown-svg.hide-crown{opacity: 0;transform: scale(0);}
.computer-img{transform: rotateY(180deg);animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0s both;}
.comp-out{transform: rotateY(180deg);animation: fade-out 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.load-svg{animation: loader 1.5s linear infinite;}
.final-winner-box{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 100%;
    position: absolute;
    bottom: 50px;
}
.final-winner-box>h1{
    font-size: 2.3rem;
    font-weight: 690;
    text-transform: capitalize;
    color: white;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS';
    text-shadow: 0px 0px 10px white;
    animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.final-winner-box>div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.final-winner-box>div>button{
    font-size: 0.85rem;
    font-weight: 700;
    padding: 0.4em 1em;
    letter-spacing: 0px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.068);
    box-shadow: 5px 4px 15px -7px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Trebuchet MS';
    letter-spacing: 0.5px;
}
.final-winner-box>div>button:nth-child(1){
    text-shadow: 0px 0px 20px rgba(255, 196, 0, 0.945);
    color: rgba(255, 196, 0, 0.945);
    background-color: rgba(255, 255, 255, 0.212);
    animation: fade-in-bottom 0.8s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0s both;
}
.final-winner-box>div>button:nth-child(2){
    color: rgba(255, 255, 255, 0.945);
    background-color: rgba(255, 255, 255, 0.212);
    box-shadow: 5px 4px 15px -7px rgba(255, 255, 255, 0.5);
    animation: fade-in-bottom 0.8s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.2s both;
}
.winner{
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 70px;
}
.winner>span{
    font-size: 2.3rem;
    font-weight: 690;
    color: white;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS';
    text-shadow: 0px 0px 10px white;
}
.winner>span.w-fout{animation: fade-out 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.winner>span.w-in{animation: fade-in 0.8s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0s both;}
.fade-out{animation: fade-out 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
.box3{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
    padding: 0px 5px ;
}
.box3>button{
    width: 90%;
    background-color: transparent;
    height: 90%;
    max-width: 105px;
    border: 1px solid rgba(255, 255, 255, 0.062);
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box3>button:nth-child(1){box-shadow: 0px 0px 45px -43px rgb(216, 0, 187) inset;animation: fade-in-bottom 0.6s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0s both;}
.box3>button:nth-child(2){box-shadow: 0px 0px 45px -43px rgb(0, 217, 255) inset;animation: fade-in-bottom 0.6s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.1s both;}
.box3>button:nth-child(3){box-shadow: 0px 0px 45px -43px rgb(0, 247, 0) inset;animation: fade-in-bottom 0.6s cubic-bezier(0.445, 0.050, 0.550, 0.950) 0.3s both;}
.box3>button:disabled{background-color: rgba(102, 102, 102, 0.151);cursor: not-allowed;}
.box3>button:nth-child(1)>img{filter: drop-shadow(2px 2px 5px rgb(216, 0, 187));}
.box3>button:nth-child(2)>img{filter: drop-shadow(2px 2px 5px rgb(0, 217, 255));}
.box3>button:nth-child(3)>img{filter: drop-shadow(2px 2px 5px rgb(0, 247, 0));}
@keyframes fade-out { 0% { opacity: 1; } 100% { opacity: 0; } }
@keyframes pop { 0% { opacity: 0; transform: scale(1); } 50% { opacity: 1; transform: scale(1.2); } 100% { opacity: 1; transform: scale(1); } }
@keyframes loader { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
@keyframes scale-in-center { 0% { transform: scale(0); opacity: 1; } 100% { transform: scale(1); opacity: 1; } }
@keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }